#topNav {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(201, 201, 201);
    height: 92px;
    padding: 10px 40px 10px 10px;
    margin-bottom: 10px;
}

.logout:hover {
    cursor: pointer;
}

.logoLink {
    /* background-image: linear-gradient(to right, rgb(243, 243, 243, 0.3), rgb(201, 201, 201, 0.3)); */
    margin-right: 60px;
}

.logo {
    box-shadow: 10px 10px 15px 0px rgb(0, 0, 0, 0.6);
    border-radius: 4px;
}

.navLinkContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.topNavLink,
.logout {
    text-decoration: none;
    color: black;
    border: none;
    text-align: center;
    box-shadow: 10px 10px 15px 0px rgb(0, 0, 0, 0.6);
    border-radius: 4px;
    padding: 20px;
    font-size: 1.5rem;
    /* background-color: rgb(243, 243, 243); */
    /* background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(243, 243, 243)); */
    background-image: linear-gradient(to right, rgb(243, 243, 243), rgb(201, 201, 201));
}

.topNavLink:hover,
.logout:hover {
    color: rgb(230, 36, 36);
    transition: 0.6s;
    transform: scale(1.1);
}

@media screen and (max-width: 1150px) {

    .topNavLink,
    .logout {
        font-size: 1.2rem;
        padding: 15px;
    }

    #topNav {
        padding-right: 20px;
    }

    .logoLink {
        margin-right: 20px;
    }
    
}

@media screen and (max-width: 976px) {

    .topNavLink,
    .logout {
        font-size: 1rem;
        padding: 12px;
        box-shadow: 6px 6px 9px 0px rgb(0, 0, 0, 0.6);
    }

    #topNav {
        height: 60px;
        padding-right: 10px;
    }

    .logo {
        height: 60px;
    }
    
}

@media screen and (max-width: 764px) {

    #topNav {
        display: none;
    }
    
}